<div class="mr-logoto"><img src="/img/ee.png"></div>
<div class="words">
	<div>software<span>.</span></div>
	<div>infrastructure<span>.</span></div>
	<div class="creative">creative<span>.</span></div>
	<div class="consulting">business-driven</div>
	<div class="consulting">technology consulting</div>
</div>
<div class="contacto"><!-- <p>contact us</p> --></div>
