---
import WeddingLayout from '../../layouts/WeddingLayout.astro';
---

<WeddingLayout activeTab="happyhome" contentHeight="564px">
  <div id="PageContentLeft">
    <h3>Thanks!</h3>
    <p>
      We can't thank everyone enough for helping us celebrate our wedding.
      Without all of the help from LOTS and LOTS of family and friends,
      it would not have been the great day that it was. Now
      it's time for picture browsing, thank-you-card writing, and
      of course, the happily-ever-after.
    </p>
    <p>
      Thanks to everyone that sent well wishes and was there in spirit too!
    </p>
    <p>
      And of course, check out the photos from the wedding and the honeymoon.
    </p>
  </div>
  <div id="PageContentRight">
    <div class="sidebar">
      <img alt="Cake" height="281" src="/2bwed/images/photos/cake.jpg" width="210" />
    </div>
    <div class="sidebar">
      <img alt="Exclaim" class="sidebarIcon" src="/2bwed/images/exclaim.png" />
      <strong>TOP 10 Wedding!</strong><br/>
      Ours was one of the top ten weddings Brad has ever been to!
    </div>
  </div>
</WeddingLayout>
